In [2]:
import pandas as pd
import numpy as np

In [3]:
score_df = pd.read_csv('datasets/line_score.csv')
score_df.tail(10)

,game_date_est,game_sequence,game_id,team_id_home,team_abbreviation_home,team_city_name_home,team_nickname_home,team_wins_losses_home,pts_qtr1_home,pts_qtr2_home,...,pts_ot2_away,pts_ot3_away,pts_ot4_away,pts_ot5_away,pts_ot6_away,pts_ot7_away,pts_ot8_away,pts_ot9_away,pts_ot10_away,pts_away
58043,2023-05-25 00:00:00,1.0,42200305,1610612738,BOS,Boston,Celtics,2-3,35.0,26.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,97.0
58044,2023-05-27 00:00:00,1.0,42200306,1610612738,BOS,Boston,Celtics,3-3,34.0,23.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,103.0
58045,2023-05-29 00:00:00,1.0,42200307,1610612748,MIA,Miami,Heat,4-3,22.0,30.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,84.0
58046,2023-06-01 00:00:00,1.0,42200401,1610612743,DEN,Denver,Nuggets,1-0,29.0,30.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.0
58047,2023-06-04 00:00:00,1.0,42200402,1610612743,DEN,Denver,Nuggets,1-1,23.0,34.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,111.0
58048,2023-06-07 00:00:00,1.0,42200403,1610612748,MIA,Miami,Heat,1-2,24.0,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109.0
58049,2023-06-09 00:00:00,1.0,42200404,1610612748,MIA,Miami,Heat,1-3,21.0,30.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,108.0
58050,2023-06-12 00:00:00,1.0,42200405,1610612743,DEN,Denver,Nuggets,4-1,22.0,22.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,89.0
58051,2023-02-19 00:00:00,1.0,32200001,1610616834,LBN,Team,LeBron,0-1,46.0,46.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,184.0
58052,2023-02-19 00:00:00,1.0,32200001,1610616834,LBN,Team,LeBron,0-1,46.0,46.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,184.0

In [3]:
score_df.columns

Index(['game_date_est', 'game_sequence', 'game_id', 'team_id_home',
       'team_abbreviation_home', 'team_city_name_home', 'team_nickname_home',
       'team_wins_losses_home', 'pts_qtr1_home', 'pts_qtr2_home',
       'pts_qtr3_home', 'pts_qtr4_home', 'pts_ot1_home', 'pts_ot2_home',
       'pts_ot3_home', 'pts_ot4_home', 'pts_ot5_home', 'pts_ot6_home',
       'pts_ot7_home', 'pts_ot8_home', 'pts_ot9_home', 'pts_ot10_home',
       'pts_home', 'team_id_away', 'team_abbreviation_away',
       'team_city_name_away', 'team_nickname_away', 'team_wins_losses_away',
       'pts_qtr1_away', 'pts_qtr2_away', 'pts_qtr3_away', 'pts_qtr4_away',
       'pts_ot1_away', 'pts_ot2_away', 'pts_ot3_away', 'pts_ot4_away',
       'pts_ot5_away', 'pts_ot6_away', 'pts_ot7_away', 'pts_ot8_away',
       'pts_ot9_away', 'pts_ot10_away', 'pts_away'],
      dtype='object')

In [4]:
score_df.shape

(58053, 43)